/* Put your custom CSS here */
#footer {
	background-image:url(images/footer-bg.gif);
	background-position:top center;
	background-repeat:no-repeat;
	background-color:#009344;
	padding-top:230px;
	clear:both;
	text-align:center;
	padding-bottom:10px;
}
